@mixin button($color) {
  border: none;
  outline: none;
  background-color: $color;
  cursor: pointer;
  color: white;
  transition: background-color 300ms ease;
  &:hover {
    background-color: darken($color: $color, $amount: 7);
  }
}

@mixin input {
  background-color: #f0f4f8;
  border: none;
  border-radius: 0.5rem;
  color: $dark-gray;
  padding: 1em;
  margin: 0.5rem;
  box-shadow: 0 0 1pt 1pt $light-gray;
  &::placeholder {
    color: $dark-gray;
  }
  &:focus {
    outline: none;
    transition: box-shadow 300ms ease;
    box-shadow: 0 0 1pt 1pt $primary;
  }
}
